<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.user.service.impl.UserMapper">
	

	<resultMap id="user" type="egovframework.user.service.UserVO">
		<result property="id" column="id" />
		<result property="userid" column="userId" />
		<result property="userpass" column="userPass" />
		<result property="userclass" column="userClass" />
		<result property="address" column="address" />
	</resultMap>
		
	<insert id="userJoin">
		<![CDATA[
			INSERT INTO user 
				(  userId
				  , userPass
				  , userClass
				  , address )
			VALUES ( #{userid}
				  , #{userpass}
				  , #{userclass}
				  , #{address} )
		]]>
	</insert>
		
	<insert id="insertUser">
		<![CDATA[
			INSERT INTO user 
				(  userId
				  , userPass
				  , userClass
				  , address )
			VALUES ( #{userid}
				  , #{userpass}
				  , #{userclass} 
				  , #{address} )
		]]>
	</insert>
		
	<update id="userInfo">
		<![CDATA[
			UPDATE user
			SET userId=#{userid}
				, userPass=#{userpass}
				, userClass=#{userclass}
				, address=#{address}
				WHERE id=#{id}
			]]>
	</update>
		
	<update id="updateUser">
		<![CDATA[
			UPDATE user
			SET userId=#{userid}
				, userPass=#{userpass}
				, userClass=#{userclass}
				, address=#{address}
				WHERE id=#{id}
			]]>
	</update>
	
	<delete id="deleteUser">
		<![CDATA[
			DELETE FROM user WHERE id=#{id}
			]]>
	</delete>
	
	<select id="checkUserLogin" resultMap="user">
		<![CDATA[
			SELECT
				id
				, userId
				, userPass
				, userClass
				, address
			FROM user WHERE userId=#{userid} and userPass=#{userpass}
			]]>
	</select>
	
	<select id="selectUser" resultMap="user">
		<![CDATA[
			SELECT
				id
				, userId
				, userPass
				, userClass
				, address
			FROM user WHERE id=#{id}
			]]>
	</select>
	
	<select id="selectUserbyId" resultMap="user">
		<![CDATA[
			SELECT
				id
				, userId
				, userPass
				, userClass
				, address
			FROM user WHERE userId=#{userid}
			]]>
	</select>
	
	
	<select id="selectUserList" parameterType="egovframework.user.service.UserVO" resultType="egovMap">
			SELECT
				id
				, userId
				, userPass
				, userClass
				, address
					FROM user
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					id = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					userId LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>
				ORDER BY id
				limit #{recordCountPerPage} offset #{firstIndex}	
	</select>	
	<select id="selectUserListTotCnt" parameterType="egovframework.user.service.UserVO" resultType="int">
			SELECT COUNT(*) totcnt
			FROM user
			WHERE 1=1
			<if test="searchKeyword != null and searchKeyword != ''">
				<if test="searchCondition == 0">AND
					id = #{searchKeyword}
				</if>
				<if test="searchCondition == 1">AND
					userId LIKE CONCAT('%',#{searchKeyword},'%')
				</if>
			</if>			
	</select>

</mapper>
